/* General Settings */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #ffffff;
}

.wrapper {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.img-container a {
  display: block !important;
  line-height: 0;
}

a {
  text-decoration: none;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  background: transparent;
}

a:hover {
  color: #c0392b !important;
}

.entry-title a {
  color: #333333;
}

.read-more-container {
  text-align: right;
  padding: 8px 0;
}

.read-more-link {
  color: #275475 !important;
  font-size: .75rem;
  font-weight: 550 !important;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.read-more-link:hover {
  text-decoration: underline;
}

.read-more-link i {
  margin-left: 5px;
}

#page {
  margin: 0 !important;
}

.line {
  width: 100%;
  height: 1px;
  background: #dddddd;
  margin: 5px 0 10px 0;
}

.btn {
  display: inline-block;
}

.btn-0 {
  border-radius: 0;
}

.btn-2 {
  border-radius: 2px;
}

.btn-3 {
  border-radius: 3px;
}

.btn-4 {
  border-radius: 4px;
}

.btn-5 {
  border-radius: 5px;
}

.btn-clear {
  background: transparent !important;
}

.theme-btn-primary {
  background: #c0392b !important;
  color: #f5f5f5 !important;
  border: none !important;
}

.theme-btn-primary:hover {
  color: #f5f5f5 !important;
  background: #a55248 !important;
}

.read-more-btn {
  display: inline-block !important;
  font-size: .8rem !important;
  font-weight: 450 !important;
  line-height: 1 !important;
  border: 1px solid #dddddd !important;
  text-transform: uppercase !important;
  letter-spacing: 1 !important;
  padding: 10px 20px !important;
  margin-top: 15px !important;
  color: #333333 !important;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.read-more-btn i {
  margin-left: 10px;
}

.read-more-btn:hover {
  color: #c0392b !important;
  border: 1px solid #c0392b !important;
}

.read-more-btn.none {
  display: inline-block;
  font-size: .8rem;
  font-weight: 450;
  line-height: 1;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1;
  padding: 10px 0;
  margin-top: 15px;
  color: #333333 !important;
}

.read-more-btn.none:hover {
  color: #c0392b;
  border: none;
}

input[type="text"].form-control,
input[type="search"].form-control,
input[type="url"].form-control,
input[type="email"].form-control,
textarea.form-control {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: .9rem;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
}

.form-control:focus {
  -webkit-box-shadow: 0 0 5px 0 rgba(192, 57, 43, 0.25);
          box-shadow: 0 0 5px 0 rgba(192, 57, 43, 0.25);
  outline: 1px solid rgba(192, 57, 43, 0.25);
}

.search-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90% 10%;
      grid-template-columns: 90% 10%;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  position: relative;
}

.main-search-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90% 10%;
      grid-template-columns: 90% 10%;
}

.main-search-form input[type="search"] {
  border-radius: 0 !important;
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
  border-right: none;
}

.main-search-form .search-btn {
  border-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-left: none;
  background: transparent;
  cursor: pointer;
  position: relative;
}

.main-search-form .search-btn .search-icon-btn {
  text-align: center !important;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-search-form .form-control {
  font-size: .85rem;
}

textarea {
  margin-top: 15px;
}

.form-group {
  display: block;
  margin-bottom: 10px;
}

label {
  font-size: .75rem;
}

.widget select {
  width: 100%;
  display: block;
  padding: 8px;
}

form select {
  width: 100%;
  display: block;
  padding: 5px;
}

/* Scroll to Top button */
#scroll-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 35px;
  width: 35px;
  font-size: 1rem;
  font-weight: 700;
  border: 1px solid #b9b9b9;
  border-radius: 50%;
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
  cursor: pointer;
  background: #353231;
  color: #f5f5f5;
  display: none;
  z-index: 9999;
}

#scroll-to-top:hover {
  color: #c0392b;
}

@media (max-width: 768px) {
  #scroll-to-top {
    font-size: 1.5rem !important;
    height: 30px;
    width: 30px;
  }
}

#scroll-to-top i {
  padding: 5px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* Post Navigation */
.site-content .content-wrapper .post-navigation {
  padding: 10px 0;
  margin-bottom: 10px;
}

.site-content .content-wrapper .post-navigation .nav-links a {
  color: #333333;
  font-size: .85rem;
  font-weight: 600;
}

.site-content .content-wrapper .post-navigation .nav-links span,
.site-content .content-wrapper .post-navigation .nav-links a {
  padding: 8px 15px;
  border: 1px solid #dddddd;
  background: #f5f5f5;
  height: 25px;
  width: auto;
}

/* Top Bar */
.top-bar {
  background: #ffffff;
}

.top-bar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
}

@media (max-width: 1100px) {
  .top-bar .wrapper {
    padding: 0 10px !important;
  }
}

.top-bar .site-branding .logo-text {
  padding: 8px 0;
  margin: 0;
  display: block;
}

.top-bar .site-branding .logo-text .site-title {
  text-transform: uppercase;
  margin: 0 !important;
  padding: 0 !important;
  letter-spacing: normal;
}

.top-bar .site-branding .logo-text .site-title a {
  color: #333333 !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
}

.top-bar .site-branding .logo-text .site-title a:hover {
  color: #333333 !important;
}

.top-bar .site-branding .logo-text p.site-title {
  padding: 0 !important;
  margin: -4px 0 0 0 !important;
}

.top-bar .site-branding .logo-text h1.site-title {
  padding: 0 !important;
  margin: -14px 0 0 0 !important;
  line-height: 1;
}

.top-bar .brand-logo img {
  width: 70%;
}

.top-bar .main-search-form input {
  padding: 4px;
  font-size: .75rem;
}

.top-bar .top-menu .menu-item-has-children .menu-link {
  position: relative;
}

.top-bar .top-menu .menu-item-has-children .menu-link .caret::before {
  content: '\00bb';
  position: absolute;
  top: 54%;
  right: -2px;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.top-bar .top-menu .menu-item-has-children .menu-link-ul {
  position: relative;
}

.top-bar .top-menu .menu-item-has-children .menu-link-ul .caret::before {
  content: '\00bb';
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: .75rem;
}

.top-bar .top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-bar .top-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 !important;
  margin: 0 30px 0 0 !important;
}

.top-bar .top-menu .menu .menu-item {
  display: inline-block;
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

.top-bar .top-menu .menu .menu-item a {
  text-decoration: none;
  padding: 12px 15px;
  padding-left: 2px;
  display: block;
  color: #333333;
  font-size: .9rem;
}

.top-bar .top-menu .menu .menu-item-has-children {
  position: relative;
}

.top-bar .top-menu .menu .menu-item-has-children .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 105px;
  -webkit-box-shadow: 0 0 2px #333333;
          box-shadow: 0 0 2px #333333;
  border-top: 2px solid #c0392b;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #ffffff;
  line-height: 1.1;
  display: none;
  z-index: 9999;
}

.top-bar .top-menu .menu .menu-item-has-children .sub-menu .menu-item {
  display: block;
  padding: 0;
  margin: 0;
}

.top-bar .top-menu .menu .menu-item-has-children:hover .sub-menu {
  display: block;
}

.top-bar .top-menu .menu .menu-item-has-children .sub-menu .menu-item a {
  display: block;
  padding: 14px;
  font-size: .8rem;
  border-bottom: 1px solid rgba(189, 188, 188, 0.3);
  color: #333333 !important;
}

.top-bar .top-menu .menu .menu-item-has-children .sub-menu .menu-item a:hover {
  color: #c0392b !important;
  background: #f5f5f5 !important;
}

.top-bar .social-media {
  margin-right: 20px;
}

.top-bar .social-media a {
  font-size: 1rem;
  text-align: center;
}

.top-bar .social-media i {
  height: 30px;
  width: 30px;
  line-height: 30px;
  border: none;
  border-radius: 50%;
  color: #333333;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  background: #f5f5f5;
  -webkit-box-shadow: 0 0 2px 0 #b9b9b9;
          box-shadow: 0 0 2px 0 #b9b9b9;
}

.top-bar .social-media i:hover {
  background: #dddddd;
}

.top-bar .social-media i:hover.facebook {
  color: #3b5998;
}

.top-bar .social-media i:hover.instagram {
  color: #3f729b;
}

.top-bar .social-media i:hover.twitter {
  color: #55acee;
}

@media (max-width: 1100px) {
  .top-bar .site-branding .logo-text .site-title a {
    font-size: 1.1rem !important;
  }
  .top-bar .top-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .top-bar .site-branding .logo-text .site-title a {
    font-size: 1rem !important;
  }
}

/* Site Header */
.site-header {
  padding: 0;
  z-index: 9999;
}

.site-header .custom-header img {
  width: 100%;
  height: auto;
  margin: auto;
}

.site-header .site-navigation {
  background: #353231;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  z-index: 9999;
}

.site-header .site-navigation.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

.site-header .site-navigation .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 30px;
}

@media (max-width: 1100px) {
  .site-header .site-navigation .wrapper {
    padding: 0 10px !important;
  }
}

.site-header .site-navigation .menu-item-has-children .menu-link {
  position: relative;
}

.site-header .site-navigation .menu-item-has-children .menu-link .caret::before {
  content: '\00bb';
  position: absolute;
  top: 54%;
  right: -2px;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.site-header .site-navigation .menu-item-has-children .menu-link-ul {
  position: relative;
}

.site-header .site-navigation .menu-item-has-children .menu-link-ul .caret::before {
  content: '\00bb';
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: .75rem;
}

.site-header .site-navigation .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header .site-navigation .nav-container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 !important;
  margin: 0 !important;
}

.site-header .site-navigation .nav-container .menu .menu-item {
  display: inline-block;
  list-style: none;
}

.site-header .site-navigation .nav-container .menu .menu-item a {
  text-decoration: none;
  padding: 12px 15px !important;
  display: block;
  color: #f5f5f5;
  font-size: .75rem;
  font-weight: 550;
  text-transform: uppercase;
  letter-spacing: 0.015rem;
}

.site-header .site-navigation .nav-container .menu .menu-item:first-child a {
  padding-left: 0 !important;
}

.site-header .site-navigation .nav-container .menu .menu-item-has-children {
  position: relative;
}

.site-header .site-navigation .nav-container .menu .menu-item-has-children .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 190px;
  -webkit-box-shadow: 0 0 2px #333333;
          box-shadow: 0 0 2px #333333;
  border-top: 2px solid #c0392b;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #ffffff;
  line-height: 1.1;
  display: none;
  z-index: 9999;
}

.site-header .site-navigation .nav-container .menu .menu-item-has-children .sub-menu .menu-item {
  display: block;
  padding: 0;
  margin: 0;
}

.site-header .site-navigation .nav-container .menu .menu-item-has-children:hover .sub-menu {
  display: block;
}

.site-header .site-navigation .menu .menu-item-has-children .sub-menu .menu-item a {
  display: block;
  padding: 14px !important;
  font-size: .8rem;
  font-weight: normal;
  border-bottom: 1px solid rgba(189, 188, 188, 0.3);
  color: #333333 !important;
  text-transform: capitalize;
}

.site-header .site-navigation .menu .menu-item-has-children .sub-menu .menu-item a:hover {
  color: #c0392b !important;
  background: #f5f5f5 !important;
}

.site-header .site-navigation .menu .menu-item-has-children .sub-menu .menu-item-has-children {
  position: relative;
}

.site-header .site-navigation .menu .menu-item-has-children .sub-menu .menu-item-has-children .sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 190px;
  border-top: 2px solid #c0392b;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #ffffff;
  line-height: 1.1;
  display: none;
  z-index: 9999;
}

.site-header .site-navigation .menu .menu-item-has-children .sub-menu .menu-item-has-children:hover .sub-menu {
  display: block;
  border-bottom: 1px solid rgba(189, 188, 188, 0.3);
}

.site-header .site-navigation .menu-item-has-children .sub-menu .menu-item-has-children:hover .sub-menu .menu-item a {
  display: block;
  position: relative;
  float: none;
  font-size: .8rem !important;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 0.6px;
  padding: 12px 15px;
  text-transform: capitalize;
  color: #555555;
  background: #fff;
}

.site-header .site-navigation .menu-item-has-children .sub-menu .menu-item-has-children:hover .sub-menu .menu-item a:hover {
  background: rgba(238, 238, 238, 0.31);
}

.search-container {
  cursor: pointer;
}

.search-container .search-icon {
  color: #f5f5f5;
}

.mobile-menu {
  display: none;
}

.menu-toggler {
  display: none;
}

@media (max-width: 1100px) {
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: none;
  }
  .search-container {
    display: none !important;
  }
  .site-header .site-navigation .nav-container {
    display: none;
  }
  .menu-toggler {
    display: block;
    cursor: pointer;
  }
  .menu-toggler .menu-toggler-icon {
    font-size: 1.8rem;
    padding: 10px 0;
    color: #f5f5f5;
  }
  .site-branding {
    padding: 6px 0 !important;
  }
  .close-menu-btn {
    position: relative;
    padding-bottom: 30px;
  }
  .close-menu-btn .close-menu-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 8px;
    border: 1px solid #dddddd;
    cursor: pointer;
  }
  .mobile-menu .menu-cart-container {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 15px;
  }
  .mobile-menu .menu-cart-container span {
    font-size: .8rem;
    font-weight: 600;
    padding: 0;
    margin: 0 0 0 -2px;
  }
  .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    max-width: 100%;
    padding-bottom: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    background: #ffffff;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    z-index: 99999;
    -webkit-transition: all .45s ease-in-out;
    transition: all .45s ease-in-out;
  }
  .mobile-menu.display {
    left: 0;
  }
  .mobile-menu .menu {
    list-style: none;
    margin-left: 0 !important;
  }
  .mobile-menu .menu .menu-item {
    padding: 0 !important;
    margin: 0 !important;
  }
  .mobile-menu .menu .menu-item a {
    display: block;
    padding: 12px 15px;
    font-size: .9rem;
    color: #333333;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-bottom: 1px solid rgba(189, 188, 188, 0.3);
    text-decoration: none;
  }
  .mobile-menu .menu .menu-item a:hover {
    color: #c0392b;
  }
  .main-search-form {
    margin: 30px 15px 20px 15px;
  }
  .mobile-menu .caret::before {
    content: '\002b' !important;
    position: absolute;
    right: 12px;
  }
  .mobile-menu .menu-item-has-children.active .caret::before {
    content: '\002d' !important;
  }
  .mobile-menu .menu-item-has-children .sub-menu .menu-item-has-children .caret::before {
    content: '\002b' !important;
    position: absolute;
    right: 12px;
  }
  .mobile-menu .menu-item-has-children.active .sub-menu .menu-item-has-children.show .caret::before {
    content: '\002d' !important;
  }
  .mobile-menu .menu-item-has-children {
    position: relative;
  }
  .mobile-menu .menu-item-has-children .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    text-align: left;
    min-width: 180px;
    line-height: 1;
    text-align: left;
    z-index: 999;
    display: none;
  }
  .mobile-menu .menu-item-has-children.active .sub-menu {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
  }
  .mobile-menu .menu-item-has-children .sub-menu .menu-item {
    display: block;
    border-bottom: 1px solid rgba(189, 188, 188, 0.3);
  }
  .mobile-menu .menu-item-has-children .sub-menu .menu-item a {
    display: block;
    position: relative;
    float: none;
    font-size: .85rem;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: 0.6px;
    padding: 12px 15px;
    text-transform: capitalize;
    color: #555555;
  }
  .mobile-menu .menu-item-has-children .sub-menu .menu-item a::before {
    content: "\203A";
    position: relative;
    left: 0;
    top: -2px;
    margin-right: 10px;
  }
  .mobile-menu .menu-item-has-children .sub-menu .menu-item:hover a {
    background: rgba(204, 204, 204, 0.1);
  }
  .mobile-menu .menu-item-has-children .sub-menu .menu-item-has-children {
    position: relative;
  }
  .mobile-menu .menu-item-has-children .sub-menu .menu-item-has-children .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    text-align: left;
    min-width: 180px;
    line-height: 1;
    text-align: left;
    z-index: 999;
    display: none;
  }
  .mobile-menu .menu-item-has-children .sub-menu .menu-item-has-children.show .sub-menu {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 0 10px;
  }
  .mobile-menu .menu-item-has-children .sub-menu .menu-item-has-children .sub-menu .menu-item {
    display: block;
    border-bottom: 1px solid rgba(189, 188, 188, 0.3);
  }
  .mobile-menu .menu-item-has-children .sub-menu .menu-item-has-children .sub-menu .menu-item a {
    display: block;
    position: relative;
    float: none;
    font-size: .85rem;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: 0.6px;
    padding: 12px 15px;
    text-transform: capitalize;
    color: #555555;
    background: #fff;
  }
  .mobile-menu .menu-item-has-children .sub-menu .menu-item-has-children .sub-menu .menu-item a:hover {
    color: #c0392b;
  }
}

/*Site Content */
.site-content .content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  margin: 20px 0 40px 0;
}

.site-content .content-wrapper.no-margins {
  margin: 0;
}

.site-content .content-wrapper.wtv-full {
  display: block;
  padding: 20px 0 40px 0;
}

@media (max-width: 1100px) {
  .site-content .content-wrapper.wtv-full {
    padding: 20px 0 40px 0;
  }
}

.site-content .content-wrapper.wtv-full .widget-area {
  display: none !important;
}

.site-content .content-area {
  padding: 0 15px 0 0;
  word-break: break-word;
}

.site-content .content-area P {
  padding: 8px 0 !important;
  font-size: 15px;
  text-align: justify;
}

.site-content .widget-area {
  padding: 0 0 0 15px;
}

.site-content .content-wrapper.right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  margin: 20px 0 40px 0;
}

.site-content .content-wrapper.right .content-area {
  padding: 0 0 0 15px;
  word-break: break-word;
  border-left: 1px solid #dddddd;
}

.site-content .content-wrapper.right .widget-area {
  padding: 0 15px 0 0;
}

@media (max-width: 997px) {
  .site-content .content-wrapper {
    display: block;
  }
  .site-content .content-wrapper.right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .site-content .content-wrapper.right .widget-area {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .site-content .content-wrapper.right .content-area {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .site-content .content-wrapper.right .content-area {
    padding: 0;
    border-left: none;
  }
  .site-content .content-wrapper.right .widget-area {
    padding: 0;
  }
  .site-content .content-wrapper .content-area {
    margin: 0 0 30px 0;
  }
  .site-content .content-wrapper.no-margins {
    margin: 0 !important;
  }
  .site-content .content-wrapper.no-margins .content-area {
    margin: 0 !important;
  }
}

@media (max-width: 767px) {
  .site-content .content-area {
    padding: 0 !important;
  }
  .site-content .widget-area {
    padding: 0 !important;
  }
}

.site-content .post-content {
  margin-bottom: 40px;
}

.site-content .post-content .img-container {
  overflow: hidden;
  margin-bottom: 10px;
}

.site-content .post-content .text-container .entry-title {
  padding: 8px 0 !important;
  margin: 0 !important;
  line-height: 1.2;
}

.site-content .post-content .text-container .entry-title a {
  font-size: 1.4rem;
}

.site-content .wrapper {
  padding: 0 30px;
}

@media (max-width: 1100px) {
  .site-content .wrapper {
    padding: 0 10px;
  }
}

.content-area .category {
  font-size: .6rem !important;
  color: #f5f5f5 !important;
  margin: 5px 0;
}

.site-content .category a {
  color: #f5f5f5 !important;
  padding: 4px 8px !important;
  background: #c0392b !important;
  border: none;
  border-radius: 3px;
}

.content-area .entry-title {
  padding: 4px 0;
  margin: 0;
}

.content-area .entry-title a {
  font-size: 1.5rem;
  font-weight: 400;
}

.content-area .entry-meta {
  padding: 4px 0;
  margin: 0 0 4px 0;
  font-size: .75rem;
  color: #333333;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.content-area .entry-meta a {
  font-size: .75rem;
  color: #333333;
}

.content-area .entry-summary {
  padding: 0;
  margin: 0;
}

.content-area .entry-summary p {
  font-size: .85rem;
}

.content-area .read-more-btn-container {
  display: none !important;
}

.content-area .read-more-btn {
  padding: 8px 18px !important;
  margin-top: 12px !important;
  font-size: .75rem !important;
}

@media (max-width: 600px) {
  .content-area .read-more-btn-container {
    display: block !important;
  }
}

.single-post-container .img-container {
  overflow: hidden;
  max-height: 400px;
  width: 100%;
}

.single-post-container .img-container img {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

.single-post-container .img-container:hover img {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.single-post-container .text-container .category {
  font-size: .7rem !important;
  color: #f5f5f5 !important;
  margin: 10px 0 5px 0;
}

.single-post-container .text-container .category a {
  color: #f5f5f5 !important;
  padding: 4px 8px !important;
  background: #c0392b !important;
  border: none;
  border-radius: 3px;
}

.single-post-container .text-container .category a:hover {
  color: #f5f5f5 !important;
}

.single-post-container .text-container .entry-title {
  padding: 4px 0;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2;
}

.single-post-container .text-container .entry-meta {
  padding: 0 !important;
  margin: 0 0 4px 0;
  font-size: .75rem;
  color: #333333;
  border: none !important;
}

.single-post-container .text-container .entry-meta a {
  font-size: .75rem;
  color: #333333;
}

.single-post-container .text-container .entry-meta span a {
  padding: 2px;
}

.single-post-container .text-container .entry-content {
  margin: 14px 0 !important;
  padding: 0 !important;
}

.single-post-container .text-container .entry-content ul,
.single-post-container .text-container .entry-content ol {
  margin-left: 25px;
}

.single-post-container .text-container {
  font-size: 15px !important;
}

.archive-container .archive-content {
  display: block;
  padding: 5px 0;
  margin: 0 0 5px 0;
}

.archive-container .line {
  width: 100%;
  height: 1px;
  background: #dddddd;
  margin: 5px 0 10px 0;
}

.archive-container .line:last-child {
  display: none;
}

@media (max-width: 767px) {
  .archive-container .archive-content {
    margin-bottom: 15px;
  }
}

.archive-container .archive-content .text-container {
  padding: 0;
  margin: 0;
}

.archive-container .archive-content .category {
  font-size: .6rem !important;
  color: #f5f5f5 !important;
  margin: 4px 0 0 0;
}

.archive-container .archive-content .category a {
  color: #f5f5f5 !important;
  padding: 4px 8px !important;
  background: #c0392b !important;
  border: none;
  border-radius: 3px;
}

.archive-container .archive-content .category a:hover {
  color: #f5f5f5 !important;
}

.archive-container .archive-content .text-container .entry-title {
  padding: 0;
  margin: 0;
  line-height: 26px;
}

.archive-container .archive-content .text-container .entry-title a {
  font-size: 1.15rem;
}

@media (max-width: 600px) {
  .archive-container .archive-content .text-container .entry-title a {
    font-size: 1rem !important;
  }
}

.archive-container .archive-content .text-container .entry-meta {
  padding: 0;
  margin: 0 0 4px 0;
  font-size: .65rem;
  color: #333333;
  border: none !important;
}

.archive-container .archive-content .text-container .entry-meta a {
  font-size: .65rem;
  color: #333333;
}

.archive-container .archive-content .text-container .entry-meta span a {
  padding: 2px;
}

.archive-container .archive-content .text-container .entry-summary {
  padding: 0;
  margin: 0;
  font-size: .8rem;
}

.archive-container .archive-content .text-container .entry-summary p {
  font-size: .8rem;
  text-align: justify;
}

.archive-video-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.archive-video-container .archive-content {
  display: block;
}

.archive-video-container .archive-content .video-container {
  height: auto;
  width: 100%;
  overflow: hidden;
}

.archive-video-container .text-container .entry-title {
  line-height: 1;
  padding: 0 !important;
  margin: 0 !important;
}

.archive-video-container .text-container .entry-title a {
  font-size: 1rem;
}

@media (max-width: 992px) {
  .archive-video-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .archive-video-container {
    display: block;
  }
  .archive-video-container .archive-content {
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .archive-content .frontpage-header {
    width: 100%;
  }
  .archive-content .line {
    width: 100%;
  }
}

.entry-header .entry-title {
  padding: 0 0 8px 0;
  margin: 0;
  border-bottom: 1px solid #dddddd;
  font-size: 1.5rem;
  font-weight: 700;
}

.comments-container {
  margin-top: 40px;
}

.comments-container .logged-in-as a {
  color: #025278;
  font-size: .85rem;
}

.comments-container .form-top-field {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

@media (max-width: 767px) {
  .comments-container .form-top-field {
    display: block !important;
  }
}

.comments-container {
  margin-top: 30px;
  padding-top: 10px;
}

.comments-container .commenter-details {
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: (1fr)[3] !important;
      grid-template-columns: repeat(3, 1fr) !important;
  gap: 10px !important;
}

.comments-container .comments-area {
  padding: 10px 0 !important;
  margin-bottom: 20px;
}

.comments-container .comments-area .comments-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.comments-container .comments-area .comments-title span {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.comments-container .comments-area .comment-list {
  list-style: none !important;
}

.comments-container .comments-area .comment-list .vcard img {
  border-radius: 50% !important;
  margin-right: 10px;
  margin-bottom: -25px;
}

.comments-container .comments-area .comment-list .fn {
  margin-top: -20px;
}

.comments-container .comments-area .comment-list .fn a {
  color: #333333;
  font-size: 1rem;
}

.comments-container .comments-area .comment-list .comment-metadata {
  margin: 0 0 5px 60px !important;
}

.comments-container .comments-area .comment-list .comment-metadata a {
  font-size: .8rem;
  color: #025278;
}

.comments-container .comments-area .comment-list .comment-content {
  margin: 5px 0 !important;
  padding: 15px 10px;
  border: 1px solid #dddddd;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
}

.comments-container .comments-area .comment-list .comment-content p {
  text-align: justify;
  font-size: .9rem;
}

.comments-container .comments-area .comment-list .comment-content ul, .comments-container .comments-area .comment-list .comment-content ol {
  margin-left: 20px;
}

.comments-container .comments-area .comment-list .comment-content h1 {
  font-size: 1.2rem !important;
}

.comments-container .comments-area .comment-list .comment-content h2 {
  font-size: 1.1rem !important;
}

.comments-container .comments-area .comment-list .comment-content h3 {
  font-size: 1rem !important;
}

.comments-container .comments-area .comment-list .comment-content h4, .comments-container .comments-area .comment-list .comment-content h5, .comments-container .comments-area .comment-list .comment-content h6 {
  font-size: .95rem !important;
}

.comments-container .comments-area .comment-list .reply {
  margin: 0 0 15px 0 !important;
  text-transform: capitalize;
}

.comments-container .comments-area .comment-list .reply a {
  font-size: .85rem;
  font-weight: 600;
  color: #025278;
}

.comments-container .comments-area .comment-list .children {
  margin-left: 20px;
  padding: 0 !important;
  list-style: none;
}

@media (max-width: 767px) {
  .comments-container .commenter-details {
    display: block;
  }
  .comments-container .comments-area .comment-list {
    margin: 0 !important;
  }
}

.error-404 {
  text-align: center;
}

.error-404 .page-content {
  margin: 0;
}

.not-found-msg .entry-title {
  font-size: 8rem;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0 !important;
  margin: 0 !important;
}

.not-found-msg .sub-text-1 {
  font-size: 1.2rem;
  padding: 5px 0 !important;
  margin: -10px 0 0 0 !important;
  font-weight: 600;
}

.not-found-msg .sub-text-2 {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1rem;
  font-weight: 600;
}

.not-found-search {
  margin: 20px 0 !important;
}

.not-found-search input[type="search"] {
  width: 60%;
  margin: auto;
}

.or {
  font-size: 1.2rem;
  font-weight: 600;
}

.go-home-button {
  margin: 20px 0 60px 0;
}

.go-home-button .home-btn {
  padding: 10px 20px !important;
  font-size: 1.25rem !important;
  font-weight: 600 !important;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .not-found-msg .entry-title {
    font-size: 5rem !important;
  }
  .not-found-msg .sub-text-1 {
    font-size: 1rem !important;
  }
  .not-found-msg .sub-text-2 {
    font-size: .85rem !important;
  }
  .go-home-button {
    margin: 15px 0 100px 0 !important;
  }
  .go-home-button .home-btn {
    padding: 8px 15px !important;
    font-size: 1.1rem !important;
  }
  .not-found-search {
    margin: 15px 0 !important;
  }
  .not-found-search input[type="search"] {
    width: 100% !important;
  }
}

.site-content .content-wrapper .post-navigation {
  padding: 10px 0;
  margin-bottom: 10px;
}

.site-content .content-wrapper .post-navigation .nav-links a {
  color: #333333;
  font-size: .85rem;
  font-weight: 600;
}

/* Page Header */
.page-header {
  padding: 10px 0;
  background: #dddddd;
  color: #333333 !important;
}

.page-header.none {
  display: none;
}

.page-header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-header .page-title,
.page-header .archive-title {
  padding: 4px 0 !important;
  margin: 0 10px 0 0 !important;
  font-size: 1rem;
  font-weight: 600;
}

.page-header .archive-description {
  font-size: .7rem;
}

.page-header .breadcrumb-container a,
.page-header .breadcrumb-container .breadcrumb-sep,
.page-header .breadcrumb-container span {
  font-size: .65rem;
  color: #333333;
}

@media (max-width: 991px) {
  .page-header .wrapper {
    display: block !important;
    text-align: left;
  }
}

@media (max-width: 767px) {
  .page-header {
    padding: 15px 0;
  }
  .page-header .page-title,
  .page-header .archive-title {
    font-size: 1.4rem;
  }
  .page-header .breadcrumb-container a,
  .page-header .breadcrumb-container .breadcrumb-sep,
  .page-header .breadcrumb-container span {
    font-size: .65rem;
  }
}

/* Sidebar Widgets */
@media (max-width: 991px) {
  .widget-area {
    padding-left: 0 !important;
  }
}

.widget {
  margin-bottom: 20px;
  padding: 0;
}

.widget .widget-title {
  padding: 0 !important;
  margin: 0 0 8px 0 !important;
}

.widget .widget-title span {
  font-size: .75rem;
  font-weight: 550;
  padding: 0 0 0 8px;
  border-left: 3px solid #c0392b;
  text-transform: uppercase;
}

.widget ol {
  margin: 10px 0 0 20px;
}

.widget ol li {
  line-height: 1.3;
  padding: 8px 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.widget ol li a {
  font-size: .8rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #333333;
}

.widget ul {
  list-style: none;
  margin: 10px 0 0 0 !important;
}

.widget ul li {
  line-height: 1.3;
  padding: 8px 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.widget ul li a {
  font-size: .8rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #333333;
}

.widget .main-search-form {
  margin: 0;
  padding: 0;
}

.widget .tagcloud a {
  color: #025278;
}

.widget p {
  font-size: .9rem;
  text-align: justify;
  padding: 2px 5px;
}

.widget p a {
  color: #025278 !important;
}

.widget p a:hover {
  color: #c0392b !important;
}

.content-area .widget .widget-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.content-area .widget .widget-title span {
  font-size: .95rem;
  font-weight: 550;
  padding: 0 0 0 8px;
  border-left: 4px solid #c0392b;
  text-transform: uppercase;
}

.widget .recent-posts-widget-container .widget-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 5fr;
      grid-template-columns: 2fr 5fr;
  -webkit-column-gap: 4px;
          column-gap: 4px;
  margin-bottom: 8px;
}

.widget .recent-posts-widget-container .text-container .entry-meta {
  padding: 0 !important;
  margin: 0 0 3px 0;
  font-size: .7rem;
  color: #333333;
  border: none !important;
}

.widget .recent-posts-widget-container .text-container .entry-meta a {
  font-size: .7rem;
  color: #333333;
  margin-right: 5px;
}

.widget .recent-posts-widget-container .text-container .entry-title {
  padding: 0;
  margin: -1px 0 0 0;
  line-height: 1.2;
}

/* FrontPage */
.frontpage-showcase {
  margin-top: 0;
}

.frontpage-showcase {
  padding: 80px 0 50px 0;
  min-height: 65vh;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("https://i.ibb.co/dfR5Z32/water-hands.jpg");
  background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://i.ibb.co/dfR5Z32/water-hands.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.frontpage-showcase .showcase-text {
  width: 50%;
  text-align: left !important;
  display: block;
  color: #f5f5f5;
}

.frontpage-showcase .showcase-text .showcase-title {
  padding: 0 !important;
  margin: 40px 0 5px 0 !important;
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  word-spacing: 0;
}

.frontpage-showcase .showcase-text .showcase-subtitle {
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.2;
}

.frontpage-showcase .showcase-text .read-more-btn {
  margin: 40px 5px 0 0 !important;
  padding: 15px 30px !important;
  font-size: .85rem !important;
  font-weight: 700 !important;
  line-height: normal;
  letter-spacing: normal;
  border: none !important;
  background: #c0392b !important;
  color: #f5f5f5 !important;
}

.frontpage-showcase .showcase-text .read-more-btn:hover {
  background: rgba(192, 57, 43, 0.85) !important;
}

@media (max-width: 992px) {
  .social-icons-container {
    display: none;
  }
  .frontpage-showcase .wrapper {
    min-height: 50vh;
  }
  .frontpage-showcase .showcase-text {
    width: 90%;
    text-align: left !important;
  }
  .frontpage-showcase .showcase-text .showcase-title {
    text-align: left;
    font-size: 1.8rem;
  }
  .frontpage-showcase .showcase-text .showcase-subtitle {
    text-align: left;
    font-size: 1rem;
  }
  .frontpage-showcase .showcase-text .read-more-btn {
    padding: 12px 20px !important;
    font-size: .75rem !important;
  }
}

.frontpage-content {
  margin-top: 40px;
}

.frontpage-content .section-header {
  font-size: 1.3rem;
  padding: 0;
  margin: 80px 0 10px 0;
  letter-spacing: normal;
  text-transform: uppercase;
}

.frontpage-content .section-header:first-child {
  margin-top: 15px;
}

.frontpage-content .section-content-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px 0 0 0;
}

.frontpage-content .section-content-container .section-content .img-container {
  height: 180px;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 4px 0 #333333;
          box-shadow: 0 0 4px 0 #333333;
}

.frontpage-content .section-content-container .section-content .img-container img {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.frontpage-content .section-content-container .section-content .img-container:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.frontpage-content .section-content-container .section-content .entry-title {
  line-height: normal;
  padding: 0 !important;
  margin: 0 !important;
}

.frontpage-content .section-content-container .section-content .entry-title a {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1.1rem;
  font-weight: 600;
}

@media (max-width: 992px) {
  .frontpage-content .section-content-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .frontpage-content .section-content-container {
    display: block;
  }
  .frontpage-content .section-content-container .section-content {
    margin-bottom: 30px;
  }
}

.frontpage-content .section-content-container-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.frontpage-content .section-content-container-2 .title {
  font-size: 1.4rem;
  padding: 0 0 10px 0;
}

.frontpage-content .section-content-container-2 .read-more-btn {
  margin-top: 30px !important;
}

.frontpage-content .section-content-container-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.frontpage-content .section-content-container-2 .text-container .entry-meta {
  font-size: .75rem;
  border: none;
  padding: 0 !important;
  margin: 0 0 5px 0 !important;
}

.frontpage-content .section-content-container-2 .section-content .text-container .entry-title {
  padding: 0 !important;
  margin: 0 !important;
  line-height: 1 !important;
}

.frontpage-content .section-content-container-2 .section-content .text-container .entry-title a {
  font-size: 1rem;
  font-weight: 600;
}

.frontpage-content .section-content-container-2 .section-content .video-container iframe {
  -webkit-box-shadow: 0 0 3px 0 #333333;
          box-shadow: 0 0 3px 0 #333333;
}

@media (max-width: 992px) {
  .frontpage-content .section-content-container-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .frontpage-content .section-content-container-2 {
    display: block;
  }
  .frontpage-content .section-content-container-2 .section-content {
    margin-bottom: 30px;
  }
}

.frontpage-content .section-content-container-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 20px 0;
}

.frontpage-content .section-content-container-3 .section-content {
  position: relative;
}

.frontpage-content .section-content-container-3 .section-content .img-container {
  height: 150px;
  width: 100%;
  overflow: hidden !important;
  -webkit-box-shadow: 0 0 4px 0 #333333;
          box-shadow: 0 0 4px 0 #333333;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.frontpage-content .section-content-container-3 .section-content .img-container img {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.frontpage-content .section-content-container-3 .section-content:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.frontpage-content .section-content-container-3 .section-content .entry-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: normal;
  padding: 8px !important;
  margin: 5px 0 0 0 !important;
  background: rgba(0, 0, 0, 0.6);
}

.frontpage-content .section-content-container-3 .section-content .entry-title a {
  padding: 0;
  margin: 0;
  font-size: .9rem;
  font-weight: 600;
  color: #f5f5f5;
}

@media (max-width: 992px) {
  .frontpage-content .section-content-container-3 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .frontpage-content .section-content-container-3 {
    display: block;
  }
  .frontpage-content .section-content-container-3 .section-content {
    margin-bottom: 20px;
  }
}

.frontpage-content .section-content-container-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 120px;
}

.frontpage-content .section-content-container-4 .section-content {
  display: block;
  text-align: center;
  padding: 10px 20px;
}

.frontpage-content .section-content-container-4 .section-content i.section-icon {
  position: relative;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 4rem;
  height: 120px;
  width: 120px;
  text-align: center;
  border: 1px solid #dddddd;
  border-radius: 50%;
  color: #f5f5f5;
  background: #353231;
}

.frontpage-content .section-content-container-4 .section-content .title {
  padding: 3px 0 !important;
  font-size: 1.3rem;
  text-align: center;
}

.frontpage-content .section-content-container-4 .section-content .subtitle {
  font-size: .9rem;
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
}

.frontpage-content .section-content-container-4 .section-content .read-more-btn {
  margin-top: 20px !important;
  border: 1px solid #b9b9b9 !important;
}

.frontpage-content .section-content-container-4 .section-content .read-more-btn:hover {
  border: 1px solid #c0392b !important;
  color: 1px solid #c0392b !important;
}

@media (max-width: 992px) {
  .frontpage-content .section-content-container-4 {
    display: block;
  }
  .frontpage-content .section-content-container-4 .section-content {
    margin-bottom: 30px;
  }
  .frontpage-content .section-content-container-4 .section-content i.section-icon {
    padding: 14px;
    font-size: 2.5rem;
    height: 80px;
    width: 80px;
  }
}

.frontpage-content .section-content-container-5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 20px 0 0 0;
}

.frontpage-content .section-content-container-5 .section-content {
  -webkit-box-shadow: 0 0 4px 0 #333333;
          box-shadow: 0 0 4px 0 #333333;
}

.frontpage-content .section-content-container-5 .section-content .img-container {
  height: 180px;
  width: 100%;
  overflow: hidden;
}

.frontpage-content .section-content-container-5 .section-content .text-container {
  padding: 0 12px 12px 12px;
}

.frontpage-content .section-content-container-5 .section-content .entry-title {
  line-height: 1.2;
}

.frontpage-content .section-content-container-5 .section-content .entry-title a {
  font-size: 1.1rem;
  font-weight: 500;
}

.frontpage-content .section-content-container-5 .section-content .entry-summary {
  font-size: .9rem;
}

@media (max-width: 992px) {
  .frontpage-content .section-content-container-5 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .frontpage-content .section-content-container-5 {
    display: block;
  }
  .frontpage-content .section-content-container-5 .section-content {
    margin-bottom: 30px;
  }
}

/* Site Footer */
.site-footer {
  margin: 0 !important;
}

.site-footer a {
  color: #55acee !important;
  font-size: .8rem;
}

.site-footer a:hover {
  color: #f5f5f5 !important;
}

.site-footer ul,
.site-footer ol {
  margin-left: 5px;
}

.site-footer li {
  list-style: none;
  color: #f5f5f5 !important;
  font-size: .8rem;
  border-bottom: 1px solid rgba(221, 221, 221, 0.1) !important;
}

.site-footer .footer-widgets {
  background: #275475;
  padding: 30px 0;
}

.site-footer .footer-widgets .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.site-footer .footer-widgets .wrapper .widget .widget-title {
  margin-bottom: 15px !important;
  color: #f5f5f5;
}

.site-footer .footer-widgets p {
  text-align: justify !important;
  font-size: .9rem;
  color: #f5f5f5;
}

.site-footer .copyright {
  padding: 10px 0 !important;
  margin: 0 !important;
  background: #353231;
  border-top: 1px solid #918f8f;
  color: #f5f5f5;
}

.site-footer .copyright p {
  font-size: .8rem;
  text-align: center;
  margin-bottom: 0 !important;
}

@media (max-width: 992px) {
  .site-footer .footer-widgets .wrapper {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
    gap: 20px !important;
  }
}

@media (max-width: 600px) {
  .site-footer .footer-widgets .wrapper {
    display: block !important;
  }
  .site-footer .footer-widgets .wrapper .widget {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=theme-main.css.map */