$primary-color          :   #1F4664;
$primary-color-2        :   #353231;
$secondary-color        :   #275475;
$body-color             :   #231f20;
$body-light-color       :   #918f8f;
$main-white-color       :   #ffffff;
$secondary-white-color  :   #f5f5f5;
$light-grey-color       :   #dddddd;
$light-grey-color-1     :   #b9b9b9;
$dark-grey-color        :   #7a7a7a;
$main-black-color       :   #000000;
$secondary-black-color  :   #333333;
$main-red-color         :   #c0392b;
$facebook-color         :   #3b5998;
$facebook-hover-color   :   rgba(59,89,152, .2);
$twitter-color          :   #55acee;
$twitter-hover-color    :   rgba(85,172,238, .2);
$linkedin-color         :   #0077b5;
$linkedin-hover-color   :   rgba(0,119,181, .2);
$whatsapp-color         :   #43d854;
$whatsapp-hover-color   :   rgba(67,216,84, .2);
$youtube-color          :   #cd201f;
$youtube-hover-color    :   rgba(205,32,31, .2);
$instagram-color        :   #3f729b;
$instagram-hover-color  :   rgba(63,114,155, .2);
$pinterest-color        :   #bd081c;
$pinterest-hover-color  :   rgba(189,8,28, .2);

// Logo Colors
$logo-green-color       :   #518115;
$logo-blue-color        :   #025278;
$logo-orange-color      :   #FD6805;

// Body Color
$light-body-grey        :   #F7F7F7;