#scroll-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 35px;
    width: 35px;
    font-size: 1rem;
    font-weight: weight(bold);
    border: 1px solid $light-grey-color-1;
    border-radius: 50%;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
    cursor: pointer;
    background: $primary-color-2;
    color: $secondary-white-color;
    display: none;
    z-index: 9999;

    &:hover {
        color: $main-red-color;
    }
}

@media( max-width: 768px ) {
    #scroll-to-top {
        font-size: 1.5rem !important;
        height: 30px;
        width: 30px;
    }
}


#scroll-to-top i {
    padding: 5px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}