.top-bar {
    background: $main-white-color;
}

.top-bar .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

@media( max-width: 1100px ) {
    .top-bar .wrapper {
        padding: 0 10px !important;
    }
}

// TOP BAR LOGO
.top-bar .site-branding .logo-text {
    padding: 8px 0;
    margin: 0;
    display: block;
}

.top-bar .site-branding .logo-text .site-title {
    text-transform: uppercase;
    margin: 0 !important;
    padding: 0 !important;
    letter-spacing: normal;
}

.top-bar .site-branding .logo-text .site-title a {
    color: $secondary-black-color !important;
    font-size: 1.2rem !important;
    font-weight: weight(bold) !important;
}

.top-bar .site-branding .logo-text .site-title a:hover {
    color: $secondary-black-color !important;
}

.top-bar .site-branding .logo-text p.site-title {
    padding: 0 !important;
    margin: -4px 0 0 0 !important;
}

.top-bar .site-branding .logo-text h1.site-title {
    padding: 0 !important;
    margin: -14px 0 0 0 !important;
    line-height: 1;
}

.top-bar .brand-logo img {
    width: 70%;
}

.top-bar .main-search-form input {
    padding: 4px;
    font-size: .75rem;
}

// TOP BAR MENU

// Main Menu Dropdown Icon
.top-bar .top-menu .menu-item-has-children .menu-link {
    position: relative;
}

.top-bar .top-menu .menu-item-has-children .menu-link .caret::before {
    content: '\00bb';
    position: absolute;
    top: 54%;
    right: -2px;
    transform: translate(-50%, -50%) rotate(90deg);
}

.top-bar .top-menu .menu-item-has-children .menu-link-ul {
    position: relative;
}

.top-bar .top-menu .menu-item-has-children .menu-link-ul .caret::before {
    content: '\00bb';
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(-50%, -50%);
    font-size: .75rem;
}

// Main Header Menu
.top-bar .top-menu {
    display: flex;
    align-items: center;
}

.top-bar .top-menu .menu {
    display: flex;
    align-items: center;
    padding: 0 !important;
    margin: 0 30px 0 0 !important;
}

.top-bar .top-menu .menu .menu-item {
    display: inline-block;
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

.top-bar .top-menu .menu .menu-item a {
    text-decoration: none;
    padding: 12px 15px;
    padding-left: 2px;
    display: block;
    color: $secondary-black-color;
    font-size: .9rem;
}

// Main Menu Dropdown level 1
.top-bar .top-menu .menu .menu-item-has-children {
    position: relative;
}

.top-bar .top-menu .menu .menu-item-has-children .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 105px;
    box-shadow: 0 0 2px $secondary-black-color;
    border-top: 2px solid $main-red-color;
    margin: 0;
    padding: 0;
    list-style: none;
    background: $main-white-color;
    line-height: 1.1;
    display: none;
    z-index: 9999;
}

.top-bar .top-menu .menu .menu-item-has-children .sub-menu .menu-item {
    display: block;
    padding: 0;
    margin: 0;
}

.top-bar .top-menu .menu .menu-item-has-children:hover .sub-menu {
    display: block;
}

.top-bar .top-menu .menu .menu-item-has-children .sub-menu .menu-item a {
    display: block;
    padding: 14px;
    font-size: .8rem;
    border-bottom: 1px solid rgba(189, 188, 188, 0.3);
    color: $secondary-black-color !important;
}

.top-bar .top-menu .menu .menu-item-has-children .sub-menu .menu-item a:hover {
    color: $main-red-color !important;
    background: $secondary-white-color !important;
}

.top-bar .social-media {
    margin-right: 20px;
}

.top-bar .social-media a {
    font-size: 1rem;
    text-align: center;
}

.top-bar .social-media i {
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: none;
    border-radius: 50%;
    color: $secondary-black-color;
    transition: all .25s ease-in-out;
    background: $secondary-white-color;
    box-shadow: 0 0 2px 0 $light-grey-color-1;
}

.top-bar .social-media i:hover {
    background: $light-grey-color;

    &.facebook {
        color: $facebook-color;
    }

    &.instagram {
        color: $instagram-color;
    }

    &.twitter {
        color: $twitter-color;
    }
}

@media ( max-width: 1100px ) {
    .top-bar .site-branding .logo-text .site-title a {
        font-size: 1.1rem !important;
    }

    .top-bar .top-menu {
        display: none;
    }
}

@media ( max-width: 768px ) {
    .top-bar .site-branding .logo-text .site-title a {
        font-size: 1rem !important;
    }
}







